# -*- coding: utf-8 -*-
## Created on Tue Oct 12 09:20:36 2021

@author: Lotte

$$ a = 10 $$

1. iwrt
1. dfs
   - sdfsfd
   - sdf
     - sdfs

In [13]:
# -*- coding: utf-8 -*-
"""
Created on Tue Oct 12 09:20:36 2021

@author: Lotte
"""
# import  modules
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [2]:

# import dataset and replace unknown values wit NaN
# Using ,\s as delimeter because all the values have a space character in fron
# of them
file_name = "adult.data.csv"
data = pd.read_csv(file_name, na_values=["?"], skipinitialspace=True)
print(data[10:24])

    age         workclass  fnlwgt     education  education_num  \
10   37           Private  280464  Some-college             10
11   30         State-gov  141297     Bachelors             13
12   23           Private  122272     Bachelors             13
13   32           Private  205019    Assoc-acdm             12
14   40           Private  121772     Assoc-voc             11
15   34           Private  245487       7th-8th              4
16   25  Self-emp-not-inc  176756       HS-grad              9
17   32           Private  186824       HS-grad              9
18   38           Private   28887          11th              7
19   43  Self-emp-not-inc  292175       Masters             14
20   40           Private  193524     Doctorate             16
21   54           Private  302146       HS-grad              9
22   35       Federal-gov   76845           9th              5
23   43           Private  117037          11th              7

        marital_status         occupation   relationship                race  \
10  Married-civ-spouse    Exec-managerial        Husband               Black
11  Married-civ-spouse     Prof-specialty        Husband  Asian-Pac-Islander
12       Never-married       Adm-clerical      Own-child               White
13       Never-married              Sales  Not-in-family               Black
14  Married-civ-spouse       Craft-repair        Husband  Asian-Pac-Islander
15  Married-civ-spouse   Transport-moving        Husband  Amer-Indian-Eskimo
16       Never-married    Farming-fishing      Own-child               White
17       Never-married  Machine-op-inspct      Unmarried               White
18  Married-civ-spouse              Sales        Husband               White
19            Divorced    Exec-managerial      Unmarried               White
20  Married-civ-spouse     Prof-specialty        Husband               White
21           Separated      Other-service      Unmarried               Black
22  Married-civ-spouse    Farming-fishing        Husband               Black
23  Married-civ-spouse   Transport-moving        Husband               White

       sex  capital_gain  capital_loss  hours_per_week native_country salary
10    Male             0             0              80  United-States   >50K
11    Male             0             0              40          India   >50K
12  Female             0             0              30  United-States  <=50K
13    Male             0             0              50  United-States  <=50K
14    Male             0             0              40            NaN   >50K
15    Male             0             0              45         Mexico  <=50K
16    Male             0             0              35  United-States  <=50K
17    Male             0             0              40  United-States  <=50K
18    Male             0             0              50  United-States  <=50K
19  Female             0             0              45  United-States   >50K
20    Male             0             0              60  United-States   >50K
21  Female             0             0              20  United-States  <=50K
22    Male             0             0              40  United-States  <=50K
23    Male             0          2042              40  United-States  <=50K

In [5]:
# column 9 is gender 
# get amount of female and male who earns <=50k or >50k
gender = data['sex'].value_counts()
selected = data.groupby('sex')['salary'].value_counts()
print(gender)
print(selected)

Male      21790
Female    10771
Name: sex, dtype: int64
sex     salary
Female  <=50K      9592
        >50K       1179
Male    <=50K     15128
        >50K       6662
Name: salary, dtype: int64

In [9]:
# define variable
male = gender[0]
male_less = selected[2]
male_more = selected[3]
female = gender[1]
female_less = selected[0]
female_more = selected[1

In [10]:
# Calculate the discrimination and the number of required modifications
Disc = (male_more/male) - (female_more/female)
print('Discrimination =', Disc)

M = ((female*male_more)-(male*female_more))/(female+male)
print('# of modifications =', M)

Discrimination = 0.19627598779361352
# of modifications = 1414.7597432511286

In [12]:
# creating labelEncoder
le = preprocessing.LabelEncoder()

# converting string labels into numbers
genders =le.fit_transform(data['sex'])
salaries = le.fit_transform(data['salary'])

[1 1 1 ... 0 1 0]
[0 0 0 ... 0 0 1]